@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  list-style: none;
  text-decoration: none;
}

/*----------------general settings---------------*/
h1,
h2,
h3,
a {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Nunito Sans', sans-serif;
  color: #e1e1e1;
}

/*----------------hero starts---------------*/

.hero {
  position: relative;
}

.hero-nav h1 {
  color: white;
  font-size: 32px;
  margin-top: -10px;
}

.hero-nav > h3 > a {
  color: #fdc221;
  border-bottom: 1px solid #fdc221;
}

.hero-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -999;
}

.hero-nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 150px 30px 150px;
}

.hero-nav-ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}

.hero-link {
  padding: 0px 30px 0px 30px;
}

.hero-link a {
  color: white;
}

/*----------------hero ends---------------*/

/*----------------hero contents start---------------*/

.hero-contents {
  color: white;
  display: flex;
  padding: 150px 150px 0px 150px;
  justify-content: center;
}

.hero-contents-text h1 {
  font-size: 48px;
}

.hero-contents-text p {
  font-size: 20px;
  margin: 20px 0px 30px 0px;
}

.hero-contents-text span {
  color: #eebd23;
}

.hero-contents-lists {
  display: flex;
}

.hero-contents-lists > ul {
  margin-right: 50px;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.hero-contents-lists > ul > li {
  margin-bottom: 15px;
  margin-bottom: 15px;
  margin-right: 100px;
}

.hero-contents-btn {
  border-radius: 70px;
  padding: 20px 80px 20px 80px;
  color: white;
  background-color: #fdc221;
  border: none;
  font-size: 16px;
  margin-top: 80px;
}

/*----------------hero contents ends---------------*/

/*----------------services container starts---------------*/

.services-container {
  height: 400px;
  display: flex;
  align-items: center;
}

.services {
  display: flex;
  flex-wrap: wrap;
  background: white;
  height: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 5px 2px 10px -5px;
  gap: 20px;
}

.services-card {
  margin: 30px 0px 30px 0px;
  height: 300px;
  width: 250px;
  border-radius: 9px;
  box-shadow: rgba(99, 99, 99, 0.2) 5px 2px 10px -5px;
  justify-content: center;
  background-color: white;
}

.services-card:hover {
  background-color: #294199;
  color: white;
  height: auto;
}

.services-card-content {
  text-align: center;
  padding: 20px;
}

.services-card-content p {
  font-size: 14px;
  margin-top: 50px;
  color: #bfbfbf;
}

.services-card-content h3 {
  font-size: 18px;
}

.services-card-content span {
  color: #fdc221;
}

/*----------------services container ends---------------*/

/*----------------shopify-container--------------------*/
.shopify-container {
  display: flex;
  position: relative;
}

.shopify-containerbg {
  width: 100%;
  position: absolute;
  height: auto;
  z-index: -999;
}

.shopify-container img {
  max-width: 100%;
}

.shopify-container-contents {
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 150px;
  width: 100%;
  height: auto;
}

.shopify-container-texts p {
  color: #979797;
}

/*-----------------media query sarts---------------*/

@media screen and (max-width: 1500px) {
  .hero-nav {
    display: none;
  }

  .hero-contents {
    padding: 50px;
  }

  .hero-contents-lists > ul > li {
    margin-bottom: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
  }

  .hero-contents-img {
    display: none;
  }

  .hero-img {
    position: absolute;
    width: 100%;
    z-index: -999;
    height: 100%;
  }

  .services {
    gap: 0px;
  }

  .services-card {
    margin: 10px;
    height: 260px;
    width: 350px;
    border-radius: 9px;
    box-shadow: rgba(99, 99, 99, 0.2) 5px 2px 10px -5px;
    justify-content: center;
    background-color: white;
  }

  .services-container {
    height: auto;
    display: flex;
    align-items: center;
  }

  .services-card:hover {
    background-color: #294199;
    color: white;
    height: auto;
  }

  .shopify-container {
    display: flex;
  }

  .shopify-container img {
    display: none;
  }

  .shopify-container-contents {
    padding: 50px;
    margin: 0px;
  }
}
