@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  list-style: none;
  text-decoration: none;
}

/*----------------general settings---------------*/
h1,
h2,
h3,
a {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Nunito Sans', sans-serif;
  color: #e1e1e1;
}

span {
  color: #f79e0e;
}

/*----------------hero starts---------------*/

.hero {
  position: relative;
}

.hero-nav h1 {
  color: white;
  font-size: 32px;
  margin-top: -10px;
}

.hero-nav > h3 > a {
  color: #fdc221;
  border-bottom: 1px solid #fdc221;
}

.hero-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -999;
}

.hero-nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 150px 30px 150px;
}

.hero-nav-ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}

.hero-link {
  padding: 0px 30px 0px 30px;
}

.hero-link a {
  color: white;
}

/*----------------hero ends---------------*/

/*----------------hero contents start---------------*/

.hero-contents {
  color: white;
  display: flex;
  padding: 150px 150px 0px 150px;
  justify-content: center;
}

.hero-contents-text h1 {
  font-size: 48px;
}

.hero-contents-text p {
  font-size: 20px;
  margin: 20px 0px 30px 0px;
}

.hero-contents-text span {
  color: #eebd23;
}

.hero-contents-lists {
  display: flex;
}

.hero-contents-lists > ul {
  margin-right: 50px;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.hero-contents-lists > ul > li {
  margin-bottom: 15px;
  margin-bottom: 15px;
  margin-right: 100px;
}

.hero-contents-btn {
  border-radius: 70px;
  padding: 20px 80px 20px 80px;
  color: white;
  background-color: #fdc221;
  border: none;
  font-size: 16px;
  margin-top: 80px;
}

.hero-list {
  display: flex;
}
.hero-list-items {
  display: flex;
  flex-direction: column;
}
.hero-list-item {
  display: flex;
}
.hero-list-item i {
  margin-right: 10px;
  color: #f79e0e;
}

.hero-list-item p {
  margin-top: -8px;
}

.hero-list-item1 {
  display: flex;
}
.hero-list-item1 i {
  margin-right: 10px;
  color: #f79e0e;
}

.hero-list-item1 p {
  margin-top: -8px;
  margin-right: 100px;
}

/*----------------hero contents ends---------------*/

/*----------------services container starts---------------*/

.services-container {
  height: 400px;
  display: flex;
  align-items: center;
}

.services {
  display: flex;
  flex-wrap: wrap;
  background: white;
  height: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 5px 2px 10px -5px;
  gap: 20px;
}

.services-card {
  margin: 30px 0px 30px 0px;
  height: 300px;
  width: 250px;
  border-radius: 9px;
  box-shadow: rgba(99, 99, 99, 0.2) 5px 2px 10px -5px;
  justify-content: center;
  background-color: white;
}

.services-card-content {
  text-align: center;
  padding: 20px;
}

.services-card-content p {
  font-size: 14px;
  margin-top: 50px;
  color: #bfbfbf;
}

.services-card-content h3 {
  font-size: 18px;
}

.services-card-content span {
  color: #fdc221;
}

/*----------------services container ends---------------*/

/*----------------shopify-container--------------------*/
.shopify-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.shopify-containerbg {
  width: 100%;
  position: absolute;
  height: auto;
  z-index: -999;
}

.shopify-container-contents img {
  width: 50%;
  height: 100%;
}

.shopify-container-contents {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 150px;
  margin-right: 150px;
  width: 100%;
  height: auto;
  padding-top: 50px;
}

.shopify-container-texts {
  padding: 50px 70px 0px 0px;
  width: 40%;
}

.shopify-container-texts h2 {
  font-size: 30px;
  margin: 10px 0px 10px 0px;
  font-family: 'Nunito Sans', sans-serif;
}
.shopify-container-texts p {
  color: #979797;
  margin-top: 15px;
}

.shopify-container-list {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}

.shopify-list-item {
  display: flex;
}

body
  > div.shopify-container
  > div
  > div
  > div
  > div.shopify-container-items {
  margin-left: 120px;
}

.shopify-list-item p {
  color: #262626;
  margin-top: 5px;
}

.shopify-list-item i {
  color: #eebd23;
  margin-right: 15px;
  margin-top: 8px;
}

.shopify-contents-btn {
  border-radius: 4px;
  padding: 20px 40px 20px 40px;
  color: white;
  background-color: #fdc221;
  border: none;
  font-size: 16px;
  margin-top: 40px;
}

/*-----------------packages-container cards---------------*/

.packages-container {
  display: flex;
  justify-content: center;
  padding: 50px;
  margin-top: 150px;
}

.packages-container-head {
  text-align: center;
}

.packages-container-head h3 {
  margin-bottom: 10px;
}

.packages-cards {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.packages-container-cards {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.packages-container-card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fcfaed;
  border-radius: 21px;
  height: 95%;
  width: 300px;
  margin-top: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 5px 2px 10px -5px;
}

.packages-container-card1::before {
  margin-top: -20px;
  content: '';
  width: 90%;
  border-bottom: 6px solid #294199;
  border-radius: 0px 0px 10px 10px;
}

.packages-container-card1 h2 {
  font-family: 'Pacifico', cursive;
  color: #294199;
  padding-top: 20px;
  padding-bottom: 20px;
}

.packages-container-card1 h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600px;
  letter-spacing: -1px;
  position: relative;
}

.packages-container-card1 > h1 > span {
  color: black;
  position: absolute;
  margin-left: -15px;
  margin-top: -10px;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
}

.packages-container-card1 > p {
  color: #9d9d9d;
  padding-top: 20px;
  padding-bottom: 20px;
}

.packages-container-card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #294199;
  border-radius: 21px;
  height: auto;
  width: 300px;
  box-shadow: rgba(99, 99, 99, 0.2) 5px 2px 10px -5px;
}

.packages-container-card2::before {
  margin-top: -20px;
  content: '';
  width: 90%;
  border-bottom: 6px solid #eebd23;
  border-radius: 0px 0px 10px 10px;
}

.packages-container-card2 h2 {
  font-family: 'Pacifico', cursive;
  color: #eebd23;
  padding-top: 0px;
  padding-bottom: 20px;
  font-size: 35px;
}

.packages-container-card2 h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600px;
  letter-spacing: -1px;
  position: relative;
  color: #eebd23;
}

.packages-container-card2 > h1 > span {
  color: #eebd23;
  position: absolute;
  margin-left: -15px;
  margin-top: -10px;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
}

.packages-container-card2 > p {
  color: white;
  padding-top: 10px;
  padding-bottom: 20px;
}

.packages-container-card3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fcfaed;
  border-radius: 21px;
  height: 95%;
  width: 300px;
  margin-top: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 5px 2px 10px -5px;
}

.packages-container-card3::before {
  margin-top: -20px;
  content: '';
  width: 90%;
  border-bottom: 6px solid #294199;
  border-radius: 0px 0px 10px 10px;
}

.packages-container-card3 h2 {
  font-family: 'Pacifico', cursive;
  color: #294199;
  padding-bottom: 20px;
  margin-top: -10px;
}

.packages-container-card3 h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600px;
  letter-spacing: -1px;
  position: relative;
}

.packages-container-card3 > h1 > span {
  color: black;
  position: absolute;
  margin-left: -15px;
  margin-top: -10px;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
}

.packages-container-card3 > p {
  color: #9d9d9d;
  padding-top: 10px;
  padding-bottom: 20px;
}

.packages-container-cardsbtn1 {
  border: 1px solid #eebd23;
  background-color: #fcfaed;
  padding: 10px 40px 10px 40px;
  border-radius: 154px;
  color: #eebd23;
  margin-top: 95%;
}

.packages-container-cardsbtn2 {
  border: 1px solid #eebd23;
  background-color: #eebd23;
  padding: 10px 40px 10px 40px;
  border-radius: 154px;
  color: white;
  margin-top: 35%;
  box-shadow: rgba(99, 99, 99, 0.2) 5px 2px 10px -5px;
}

.packages-container-cardsbtn3 {
  border: 1px solid #eebd23;
  background-color: #fcfaed;
  padding: 10px 40px 10px 40px;
  border-radius: 154px;
  color: #eebd23;
  margin-top: 10%;
  margin-bottom: 5%;
}

.packages-container-item2 p {
  color: white;
}

.packages-items {
  margin-top: 10px;
  font-size: 13px;
}

/*-----------------packages-container end---------------*/

/*-----------------offer-container starts---------------*/

.offer-container {
  background-image: url(/images/Banner3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 700px;
  margin-top: 50px;
}

.offer-container-contents {
  display: flex;
  justify-content: center;
  margin-left: 150px;
  margin-right: 150px;
  max-width: 100%;
  height: auto;
  padding-top: 50px;
  flex-wrap: wrap;
}

.offer-container-contents img {
  max-width: 100%;
  height: 100%;
}

.offer-container-texts {
  padding: 50px 100px 0px 0px;
  width: 40%;
}

.offer-container-texts h2 {
  font-size: 30px;
  margin: 10px 0px 10px 0px;
  font-family: 'Nunito Sans', sans-serif;
}
.offer-container-texts p {
  color: #979797;
  margin-top: 15px;
}

.offer-container-list {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}

.offer-list-item {
  display: flex;
}

.offer-list-item p {
  color: #262626;
  margin-top: 5px;
}

.offer-list-item i {
  color: #eebd23;
  margin-right: 15px;
  margin-top: 8px;
}

.offer-contents-btn {
  border-radius: 4px;
  padding: 20px 40px 20px 40px;
  color: white;
  background-color: #fdc221;
  border: none;
  font-size: 16px;
  margin-top: 40px;
}

strike {
  font-size: 14px;
  color: #707070;
  display: absolute;
}

/*-----------------offer-container end---------------*/

/*-----------------value-container starts---------------*/

.value-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.value-container-head {
  padding: 40px;
  margin-top: 20px;
  margin-bottom: -40px;
}

.value-container-head p {
  color: #979797;
}

.value-container-head h2 {
  font-family: 'Rubik', sans-serif;
  padding: 20px;
}

.value-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 80px;
  margin-top: 50px;
  margin-bottom: 80px;
}

.valuecard-content {
  width: 350px;
}

.valuecard-content h2 {
  width: 350px;
  font-family: 'Rubik', sans-serif;
  margin-top: 20px;
  color: #616161;
}

.valuecard-content p {
  margin-top: 15px;
  width: 350px;
  color: #949494;
}

/*-----------------value-container ends---------------*/

/*-----------------portfolio-container starts---------------*/

.portfolio-container {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #fafbfd;
}

.portfolio-container-head {
  padding: 40px;
  margin-top: 20px;
  margin-bottom: -40px;
}

.portfolio-container-head p {
  color: #979797;
}

.portfolio-container-head h2 {
  font-family: 'Rubik', sans-serif;
  padding: 20px;
}

.portfolio-nav {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 40px;
  position: relative;
  background-color: #fafbfd;
}

.portfolio-nav ul {
  display: flex;
  text-decoration: none;
  list-style: none;
}

.portfolio-nav ul li {
  border-bottom: 2px solid #c6c6c6;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  text-align: center;
}

.portfolio-nav ul li a {
  color: #c6c6c6;
  font-family: 'Nunito Sans', sans-serif;
}

.portfolio-nav ul li a:hover {
  border-bottom: 2px solid #f79e0e;
  padding-bottom: 10px;
  text-align: center;
  color: #f79e0e;
}

.portfolio-view-all a {
  position: absolute;
  right: 0;
  margin-right: 250px;
  margin-top: 1px;
  font-family: 'Nunito Sans', sans-serif;
  color: #9d9d9d;
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafbfd;
  gap: 15px;
  padding-bottom: 50px;
}

.portfolio-card-set {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-card {
  display: flex;
  width: 300px;
  height: 370px;
  border-radius: 15px;
  border: 2px solid #eeecec;
  background-color: white;
  align-items: center;
  justify-content: center;
}

/*-----------------portfolio-container ends---------------*/

/*-----------------faq-container starts---------------*/

.faq-container {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background-color: #fafbfd;
}

.faq-container-head {
  padding: 40px;
  margin-top: 20px;
  margin-bottom: -40px;
  width: 45%;
  text-align: center;
}

.faq-container-head p {
  color: #979797;
  text-align: center;
}

.faq-container-head h2 {
  font-family: 'Nunito Sans', sans-serif;
  padding: 20px;
}

.faqs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.faq1 {
  width: 35%;
  padding: 50px;
  padding-bottom: 5px;
}

.faq {
  margin-bottom: 20px;
}

.faq h2 {
  font-family: 'Ibarra Real Nova', serif;
}
.faq p {
  color: #646464;
  padding-top: 15px;
  padding-bottom: 15px;
}

.faq2 {
  width: 35%;
  padding: 50px;
}

/*-----------------faq-container ends---------------*/

/*-----------------testimonial-container ends---------------*/

.testimonial-container {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background-color: white;
}

.testimonial-container-head {
  padding: 40px;
  margin-top: 20px;
  margin-bottom: -40px;
  width: 45%;
  text-align: center;
}

.testimonial-container-head p {
  color: #979797;
  text-align: center;
}

.testimonial-container-head h2 {
  font-family: 'Nunito Sans', sans-serif;
  padding: 20px;
}

.testimonial {
  border: 2px solid #e2e2e2;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 350px;
}

.testimonial-head {
  display: flex;
  justify-content: space-between;
}

.testimonial-head img {
  margin-right: 0px;
}

.testimonial-head p {
  color: #686868;
}

.testimonial-head p > span {
  color: #686868;
  font-size: 10px;
}

.testimonial-personicon {
  margin-right: 20px;
}

.star {
  margin-left: 50px;
  height: 35px;
}

.testimonial-star {
  padding-top: 15px;
}

.testimonial-star i {
  color: #fbbf02;
  margin-bottom: 10px;
}

.testimonial p {
  font-size: 15px;
  color: #646464;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding-top: 40px;
  padding-bottom: 100px;
}

/*--------------------media query sarts---------------*/

@media screen and (max-width: 1500px) {
  .hero-nav {
    display: none;
  }

  .hero-list {
    display: flex;
    justify-content: center;
  }

  .hero-contents {
    padding: 50px;
    text-align: center;
  }

  .hero-contents-lists > ul > li {
    margin-bottom: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
  }

  .hero-contents-img {
    display: none;
  }

  .hero-img {
    position: absolute;
    width: 100%;
    z-index: -999;
    height: 100%;
  }

  .services {
    gap: 0px;
  }

  .services-card {
    margin: 10px;
    height: 260px;
    width: 350px;
    border-radius: 9px;
    box-shadow: rgba(99, 99, 99, 0.2) 5px 2px 10px -5px;
    justify-content: center;
    background-color: white;
  }

  .services-container {
    height: auto;
    display: flex;
    align-items: center;
  }

  .shopify-container {
    display: flex;
  }

  .shopify-container-contents img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .shopify-containerbg {
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: -999;
  }

  .shopify-container-contents {
    padding: 50px;
    padding-top: 50px;
    margin: 0px;
    text-align: center;
  }

  body
    > div.shopify-container
    > div
    > div
    > div
    > div.shopify-container-items {
    margin-left: 10px;
  }

  .shopify-container-texts {
    padding: 0px;
    width: 100%;
  }

  .shopify-container-list {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .packages-container-head {
    text-align: none;
  }

  .packages-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    margin-top: 0px;
  }

  .packages-container-card1 {
    height: auto;
  }
  .packages-container-card2 {
    height: auto;
  }

  .packages-container-card3 {
    height: auto;
  }

  .offer-container-contents {
    padding: 50px;
    padding-top: 50px;
    margin: 0px;
    text-align: center;
  }

  .offer-container-texts {
    padding: 0px;
    width: 100%;
  }

  .offer-container-contents img {
    max-width: 100%;
    height: 100%;
    margin-top: 50px;
  }

  .offer-container-list {
    display: flex;
    justify-content: center;
  }

  .offer-list-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .portfolio-view-all {
    display: none;
  }

  .faq-container-head {
    margin-top: 20px;
    margin-bottom: -40px;
    width: 100%;
  }

  .faqs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .faq1 {
    width: 100%;
    text-align: center;
  }

  .faq2 {
    width: 100%;
    text-align: center;
  }

  .testimonial-container-head {
    margin-top: 20px;
    margin-bottom: -40px;
    width: 100%;
  }

  .testimonial-container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    background-color: white;
    padding: 50px;
  }
  .hero-list-item1 p {
    margin-top: -8px;
    margin-right: 20px;
  }

  .hero-list {
    margin-top: 50px;
    width: 100%;
  }
}
